:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent: #2196f3;
  --title: #212121;
  --contacts: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
}

/* цвет основного текста #757575 */
/* вторичный цвет текста #FFFFFF */
/* акцент #2196F3 */
/* заголовки #212121*/
/* футер почта и телефон rgba(255, 255, 255, 0.6) */
/* цвет logo #000000 */

/* цвет фона #FFFFFF */
/* вторичный цвет фона #f5f4fa */
/* цвет фона hero, activity rgba(47, 48, 58, 0.8); */
/* цвет фона footer #2F303A */

/* font-family основной Roboto, font-weight 400, 500, 700, 900 */
/* font-family логотипа Raleway, font-weight 700 */

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.enumeration {
  padding: 0;
  margin: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* logo */
.accent {
  color: #2196f3;
}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* studio */

/* nav */
.nav .nav-link {
  color: var(--title);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav .nav-link:hover,
.nav .nav-link:focus {
  color: var(--accent);
}
.nav .nav-link.current {
  color: var(--accent);
}

/* contacts */
.contacts .contacts-link {
  color: var(--primary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent);
}

/* hero */
.hero {
  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
}
.hero .hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;

  color: var(--secondary-text-color);
  background-color: var(--accent);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* features */
.features .features-title {
  padding: 0;
  margin: 0;

  color: var(--secondary-text-color);
}
.features .features-list {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title);
  text-transform: uppercase;
}
.features .features-text {
  padding: 0;
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
}

/* activity */
.activity-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.activity .activity-title-list {
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}
.desktop {
  margin: 0;
  padding-left: 83px;
  padding-right: 82px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.mobile {
  margin: 0;
  padding-left: 86px;
  padding-right: 85px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.designer {
  margin: 0;
  padding-left: 91px;
  padding-right: 90px;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* team */
.team {
  background-color: #f5f4fa;
}
.team .team-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team .team-surname {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team .social-links {
  color: var(--primary-text-color);
}
.team .social-links:hover,
.team .social-links:focus {
  color: var(--accent);
}
.team .team-position {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

/* customers */
.customers .customers-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* footer */
.footer {
  background-color: #2f303a;
}
.footer .footer-logo {
  color: var(--secondary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address {
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address .address-link {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer .footer-title {
  color: var(--secondary-text-color);
  text-transform: uppercase;
}
.footer .footer-title-link {
  color: var(--secondary-text-color);
}
.footer .footer-title-link:hover,
.footer .footer-title-link:focus {
  color: var(--accent);
}

/* portfolio */

.portfolio-primary .portfolio-primary-title {
  padding: 0;
  margin: 0;

  color: var(--secondary-text-color);
}
.portfolio .portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .portfolio-filter {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.88;
}
.portfolio .portfolio-text {
  padding: 0;
  margin: 0;

  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
}
.portfolio .portfolio-link {
  color: var(--primary-text-color);
}
.button-portfolio.primary {
  padding: 22px 6px;
  border-radius: 4px;
  min-width: 145px;
  border: 1px solid transparent;

  color: var(--title);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.button-portfolio.primary:hover,
.button-portfolio.primary:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent);
}
